.root {
  --test-var: 200;
}

.ts-pdf-viewer-container {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
  height: 100%;
  overflow-x: none;
  overflow-y: none;
  background: gray;
}

.ts-pdf-viewer-panel-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 40px;
  background: dimgray;
  box-shadow: 0 0 10px rgba(0,0,0,0.75);
  z-index: 1;
  transition: height 0.25s ease-out 0.1s;
}
.panels-hidden .ts-pdf-viewer-panel-top {
  height: 0;
  transition: height 0.25s ease-in 0.1s;
}

.ts-pdf-viewer-panel-bottom {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  left: calc(50% - 160px);
  bottom: 10px;
  width: 320px;
  height: 40px;  
  background: dimgray;
  box-shadow: 0 0 10px rgba(0,0,0,0.75);
  z-index: 1;
  transition: height 0.25s ease-out, bottom 0.1s linear 0.25s;
}
.panels-hidden .ts-pdf-viewer-panel-bottom {
  bottom: 0;
  height: 0;
  transition: bottom 0.1s linear, height 0.25s ease-in 0.1s;
}

.ts-pdf-page-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 0px;
  overflow-x: auto;
  overflow-y: auto;
  transition: padding-top 0.25s ease-out 0.1s;
}
.panels-hidden .ts-pdf-page-container {
  padding-top: 40px;
  transition: padding-top 0.25s ease-in 0.1s;
}

.ts-pdf-page-canvas {
  margin: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.75);
}